[Unit]
Description=Homebrew generated unit for postgresql

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/linuxbrew/.linuxbrew/opt/postgresql/bin/postgres -D /home/linuxbrew/.linuxbrew/var/postgres
Restart=always
WorkingDirectory=/home/linuxbrew/.linuxbrew
StandardOutput=append:/home/linuxbrew/.linuxbrew/var/log/postgres.log
StandardError=append:/home/linuxbrew/.linuxbrew/var/log/postgres.log